/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(31, 76%, 74%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
  color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(0, 0%, 30%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__shop, 
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle, 
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 2.5rem;
}

.home__img {
  width: 240px;
}

.home__img-bg {
  background-color: var(--first-color);
  width: 258px;
  height: 430px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  transform: translateX(1.5rem);
}

.home__social {
  position: absolute;
  top: 35%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-1-5);
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.home__btns {
  display: flex;
  align-items: center;
}

.home__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== FEATURED ===============*/
.featured__container {
  row-gap: 2.5rem;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: .3s;
}

.featured__tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img {
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title, 
.featured__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.featured__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.featured__price {
  display: block;
  color: var(--first-color);
  transition: .3s;
}

.featured__button {
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.featured__card:hover {
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price {
  margin-bottom: var(--mb-1-5);
}

/*=============== STORY ===============*/
.story__container {
  row-gap: 7.5rem;
}

.story__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.story__description {
  margin-bottom: var(--mb-2-5);
}

.story__images {
  position: relative;
}

.story__img, 
.story__square {
  width: 250px;
}

.story__square {
  height: 250px;
  background-color: var(--first-color);
}

.story__img {
  position: absolute;
  left: 3rem;
  top: -3rem;
}

/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: .3s;
}

.products__img {
  height: 125px;
  margin-bottom: var(--mb-1);
}

.products__title, 
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: .4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

/*=============== TESTIMONIAL ===============*/
.testimonial__container {
  row-gap: 4rem;
}

.testimonial__quote {
  display: inline-flex;
  background-color: var(--container-color);
  padding: .5rem .75rem;
  font-size: 1.5rem;
  color: var(--first-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  margin-bottom: var(--mb-2);
}

.testimonial__description {
  margin-bottom: var(--mb-1);
}

.testimonial__date {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.testimonial__perfil {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 7rem;
}

.testimonial__perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 3rem;
}

.testimonial__perfil-data {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.testimonial__perfil-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.testimonial__perfil-detail {
  font-size: var(--small-font-size);
}

.testimonial__images {
  position: relative;
}

.testimonial__img, 
.testimonial__square {
  width: 250px;
}

.testimonial__square {
  height: 250px;
  background-color: var(--first-color);
  margin-left: auto;
}

.testimonial__img {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

/* Swiper class */
.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 5%;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  padding: .25rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.swiper-button-next {
  right: initial;
  left: 4rem;
}