/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before{
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* show menu */
.show-menu {
  right: 0;
}

/* CHANGE BACKGROUND HEADER*/
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
}
/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 2.5rem;
}

.home__img {
  width: 240px;
}

.home__img-bg {
  background-color: var(--first-color);
  width: 258px;
  height: 430px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  transform: translateX(1.5rem);
}

.home__social {
  position: absolute;
  top: 35%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: 0.3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
}
.home__description {
  margin-bottom: var(--mb-1-5);
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.home__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== FEATURED ===============*/
.featured__container{
  row-gap:2.5rem ;
}

.featured__card{
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: .3s;
}

.featured__tag{
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color:#fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img{
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title,
.featured__price{
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.featured__title{
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.featured__price{
  display: block;
  color: var(--first-color);
  transition: .3s;
}

.featured__button{
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.featured__card:hover{
  box-shadow: 0 12px 32px hsla(0,0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button{
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price{
  margin-bottom: var(--mb-1-5);
}

/*=============== STORY ===============*/
.story__container{
  row-gap: 7.5rem;
}

.story__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.story__description{
  margin-bottom: var(--mb-2-5);
}

.story__images{
  position: relative;
}

.story__img,
.story__square{
  width: 250px;
}

.story__square{
  height: 250px;
  background-color: var(--first-color);
}

.story__img{
  position: absolute;
  left: 3rem;
  top: -3rem;
}
